<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.harness2.supervisor</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HARNESS_PATH__</string>
    <string>supervise</string>
    <string>--interval</string><string>10</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__STATE_DIR__/logs/launchd.log</string>
  <key>StandardErrorPath</key><string>__STATE_DIR__/logs/launchd.log</string>
</dict>
</plist>
